.move-in__img {
	height: 200px;
	width: 200px;
	object-fit: cover;
	transition: all ease-in 500ms;
	@media (min-width: 400px) {
		height: 300px;
		width: 320px;
	}
	@media (min-width: 600px) {
		height: 270px;
		width: 270px;
	}
	@media (min-width: 970px) {
		height: 390px;
		width: 340px;
	}
	@media (min-width: 1100px) {
		height: 340px;
		width: 340px;
	}
}

.why-mars__img {
	height: 140px;
	width: 140px;
	object-fit: cover;
	@media (min-width: 700px) {
		height: 158px;
		width: 158px;
	}
}
.sustainable-sun__img {
	height: 140px;
	width: 140px;
	object-fit: cover;
	@media (min-width: 700px) {
		height: 190px;
		width: 190px;
	}
	@media (min-width: 900px) {
		height: 232px;
		width: 232px;
	}
}
