$shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
$white1: #f1f1f1;
$white2: #ffffff;
$blue1: #436dac;
$blue2: #2c4f80;
$blue3: #061b38;
$blue-border-solid: solid 1px #2c4f80;
$red1: #e32700;
$black1: #323232;
